.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #1c2b35;
  padding: 0 140px;
}

.header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  margin-left: 36px;
}
.header a:hover {
  color: rgb(255, 7, 7);
}
